/* * {
  border: red 2px solid;
} */

.details {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.thumbnail {
  width: 200px; /* Adjust the width and height to fit your design */
  height: 200px;
  background-size: cover;
  background-position: center;
  /* Add any other styles you want for the thumbnail */
}

h1 {
  font-size: 80px;
}

p {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.leftside {
  margin-right: 50rem;
  margin-top: 5rem;
  margin-left: 5rem;
  background-color: rgba(255, 248, 248, 0.656);
  border-radius: 10%;
  padding: 1em;
}

.container {
  border: none;
}

@media screen and (max-width: 600px ) {

  .details {  
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
   
    min-height: fit-content;
    min-width: 250px;
    border-radius: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

  .details .container {
    padding: 0;
    min-height: 325px;
    min-width: 135px;
    max-height: 22rem;
    position: absolute;
    top: 0;
  }



  .details img {
    max-width: 245px;
   
}

  .details .leftside {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    top: 22rem;
    bottom: 2em;
    min-width: 135px;
    border-radius: 0;
    position: absolute;
    
    line-height: 50px;
    
    grid-template-columns: 1f;
  }

  .leftside p {
    padding-top: 0px;
    margin-top: 0px;
    max-width: 31rem;
    font-size: 18px;
    overflow: visible;
    min-width: 135px;
  }

  .leftside h1 {
    font-size: 40px;
    min-width: 7em;
    max-height: 2em;
    margin-bottom: 0px;
    min-width: 135px;
  }

 *{
  /* border: red 2px solid; */
 }

}