
.navbar {
  background-color: none;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color:#434141;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 0rem;
  display: flex;
  flex: wrap;
  justify-content: center;
  flex-direction: column;
}

.nav-item:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #434141;
}

.nav-item .active {
  color:#434141;
  border: 2px solid #434141;
}

.nav-icon {
  display: none;
}

.nav-logo img {
  width: 150px;
  margin-left: 0rem;
}

@media screen and (max-width: 600px) {
  .nav-container {
    background-color: rgb(255, 255, 255);
  }

  .nav-menu {
    display: block;
    flex: wrap;
    max-width: 8rem;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    padding: 0;
    transition: all 0.5s ease;
    margin: 0;
  }


  .nav-menu.active {
    display: block;
    flex: wrap;
    background: none;
    margin: 0px;
    padding: 0px;
    top: 80px;
    left: 50%;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    max-width: 420px;
 
  }

  .nav-item {
 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }


  .nav-item .active {
    color:#434141;
    font-weight: bold;  
  }

  .nav-links {
    padding: 0;
    margin: 0;
    padding-left: 100%;
    padding-right: 100%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: rgb(35, 35, 35) 2px solid;
    overflow: hidden;
    position: relative;
    top: 0%;
    left: -50%;
    right: -50%;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #434141;
    padding-right: 0px;
  }

  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-left: 0;
  }
 *{
  /* border: 2px solid red; */
 }
}

